{%- assign author = site.author -%}
<div itemscope itemtype="https://schema.org/Person" class="h-card">
  {%- if author.avatar %}
  <img class="rail__photo u-photo" src="{{ author.avatar | relative_url }}"
       alt="" itemprop="image" width="112" height="112">
  {%- endif %}

  <p class="rail__name p-name" itemprop="name">{{ author.name }}</p>
  {%- if author.role %}
  <p class="rail__role">{{ author.role }}</p>
  {%- endif %}

  {%- if author.links %}
  <ul class="rail__links">
    {%- for link in author.links %}
      {%- if link.label and link.url %}
    <li><a href="{{ link.url }}" rel="me noopener">{{ link.label }}</a></li>
      {%- endif %}
    {%- endfor %}
  </ul>
  {%- endif %}
</div>
